/* General Styles */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: #f0f0f0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #2b2b2b;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border: 1px solid #444;
}

header {
  background: linear-gradient(90deg, #007bff, #00c4ff);
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
}

.logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #007bff;
  margin-right: 10px;
  color: #333;
  background-color: #e9ecef;
  transition: border-color 0.3s;
}

.search-input:focus {
  border-color: #00c4ff;
}

.search-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #343a40;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.search-button:hover {
  background-color: #212529;
  transform: scale(1.05);
}

.header-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.header-button.primary {
  background-color: #28a745;
  color: #fff;
  margin-right: 10px;
}

.header-button.danger {
  background-color: #dc3545;
  color: #fff;
}

.header-button.primary:hover,
.header-button.danger:hover {
  transform: scale(1.05);
}

/* Content Styles */
h2 {
  text-align: center;
  margin-top: 20px;
  color: #00c4ff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #00c4ff;
}

input[type="text"],
input[type="submit"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 5px 0 10px;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #333;
  color: #fff;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

input[type="submit"]:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

p.error {
  color: #dc3545;
  margin-top: 10px;
}

p.success {
  color: #28a745;
  margin-top: 10px;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #333;
  color: #fff;
}

th,
td {
  border: 1px solid #444;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #007bff;
  color: #fff;
}

td {
  background-color: #222;
}

tr:hover td {
  background-color: #333;
}

/* Checkbox Styles */
.cyberpunk-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #28a745;
  border-radius: 5px;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.cyberpunk-checkbox:before {
  content: "";
  background-color: #28a745;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 10px;
  height: 10px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.cyberpunk-checkbox:checked:before {
  transform: translate(-50%, -50%) scale(1);
}

#addForm {
  display: none;
  background-color: #2b2b2b;
  border: 1px solid #444;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

#addForm h2 {
  text-align: center;
  color: #00c4ff;
  margin-bottom: 20px;
}

#addForm label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #00c4ff;
}

#addForm input[type="text"],
#addForm input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #333;
  color: #fff;
  box-sizing: border-box;
  font-size: 16px;
}

#addForm input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

#addForm input[type="submit"]:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Link Styles */
.copy-text a {
  text-decoration: none;
  color: #00c4ff;
  cursor: pointer;
  transition: color 0.3s;
}

.copy-text a:hover {
  color: #007bff;
}
