General Styles */ body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  gap: 20px;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 20px;
}

h2 {
  color: #333;
  margin-bottom: 15px;
  font-size: 24px;
  border-bottom: 2px solid #007bff;
  display: inline-block;
  padding-bottom: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fafafa;
  border-radius: 10px;
  overflow: hidden;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

td {
  background-color: white;
}

button {
  padding: 12px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #0056b3;
}

button:active {
  transform: translateY(1px);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.receipt {
  margin-top: 20px;
  text-align: left;
}

.receipt h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.receipt p {
  margin-bottom: 10px;
  font-size: 16px;
  color: #555;
}

.receipt table {
  width: 100%;
  border-collapse: collapse;
}

.receipt th,
.receipt td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.receipt th {
  background-color: #f2f2f2;
  font-weight: bold;
}

#printButton {
  margin-top: 20px;
}

.cryptoPaymentContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#accountDetailsDiv {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    max-width: 95%;
  }

  th,
  td {
    padding: 10px;
  }

  button {
    width: 100%;
    margin: 10px 0;
  }

  .receipt p {
    font-size: 14px;
  }
}
